.trans-container {
  max-width: 480px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.titulo {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
}

.trans-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.trans-form input {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.trans-form button {
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background: #4f46e5;
  color: white;
}

.trans-form button:disabled {
  background: #999;
}

.alerta {
  margin-top: 25px;
  padding: 20px;
  border-radius: 16px;
  font-size: 16px;
  text-align: left;
}

.alerta.seguro {
  background: #d1fae5;
  border-left: 7px solid #10b981;
}

.alerta.suspeito {
  background: #fee2e2;
  border-left: 7px solid #ef4444;
}

.alerta.erro {
  background: #fde68a;
  border-left: 7px solid #d97706;
}
